form .inner-form {
    width: 100%;
    margin-bottom: 17px;
  }
  
  form .inner-form .input-field {
    height: 70px;
    width: 100%;
    position: relative;
    border-radius: 10px 10px 10px 10px;
    border: 3px solid #c2c2c2;
  }
  
  form .inner-form .input-field input {
    height: 100%;
    width: 100%;
    border: 0;
    background: #fff;
    display: block;
    width: 100%;
    padding: 10px 32px 10px 70px;
    font-size: 18px;
    color: #666;
    border-radius: 10px;
}
  
  form .inner-form .input-field input.placeholder {
    color: #ccc;
    font-size: 18px;
  }
  
  form .inner-form .input-field input:-moz-placeholder {
    color: #ccc;
    font-size: 18px;
  }
  
  form .inner-form .input-field input::-webkit-input-placeholder {
    color: #ccc;
    font-size: 18px;
  }
  
  form .inner-form .input-field input:hover, form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
  }
  
  form .inner-form .input-field .btn-search {
    width: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    position: absolute;
    left: 0;
    height: 100%;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    align-items: center;
  }
  
  form .inner-form .input-field .btn-search svg {
    fill: #ccc;
    width: 30px;
    height: 30px;
    transition: all .2s ease-out, color .2s ease-out;
  }
  
  form .inner-form .input-field .btn-search:hover, form .inner-form .input-field .btn-search:focus {
    outline: 0;
    box-shadow: none;
  }
  
  form .inner-form .input-field .btn-search:hover svg, form .inner-form .input-field .btn-search:focus svg {
    fill: #666;
  }
  