.app {
  background: #fff;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  hr {
    margin: 1rem 2rem 3rem;
    border: 1px solid #c2c2c2;
  }

  footer {
    position: absolute;
    bottom: 12px;
    letter-spacing: 4px;
    color: rgba(255, 255, 255, 0.45);
  }
}

.title {
  font-size: 42px;
  text-align: center;
  color: #5f5f5f;
  letter-spacing: 1.6px;
  text-transform: capitalize;
  padding-bottom: 2rem;
}

.description {
  font-size: 18px;
  text-align: center;
  color: #5f5f5f;
  letter-spacing: 1.6px;
  text-transform: capitalize;
  padding-bottom: 3rem;
}

.label {
  text-align: left;
  color:#5f5f5f;
  font-size: 2em;
  padding-bottom: 1em;
}

.container {
  width: 100%;
  margin: 2rem auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.col-xs-1 {
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.col-xs {
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.center-xs {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

@media only screen and (min-width: 62em) {
  .container {
    width: 61rem;
    margin: 2rem auto;
  }
  .col-md-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-md {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .start-md {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (min-width: 62em) {
  .container {
    width: 71rem;
    margin: 2rem auto;
  }

  .col-lg-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-lg {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .start-lg {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
}

