.app {
  background: #fff;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 50px;
    text-align: center;
    color: #000;
    letter-spacing: 1.6px;
    text-transform: capitalize;
    padding-bottom: 20px;
  }

  footer {
    position: absolute;
    bottom: 12px;
    letter-spacing: 4px;
    color: rgba(255, 255, 255, 0.45);
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.col-xs {
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.center-xs {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

@media only screen and (min-width: 62em) {
  .container {
    width: 61rem;
    margin: 0 auto;
  }

  .col-md {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .start-md {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (min-width: 62em) {
  .container {
    width: 71rem;
    margin: 0 auto;
  }

  .col-lg {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .start-lg {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
}
