table {
  font-family: Tahoma, Geneva, sans-serif;
  border: 5px solid #FFFFFF;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table td, table th {
  border: 0px solid #AAAAAA;
  padding: 10px 10px;
}
table tbody td {
  font-size: 18px;
  color: #3A3A3A;
}
table tr:nth-child(even) {
  background: #AAAFB4;
}

.weather-state {
  font-weight: 500;
  font-size: 22px;
  color: #000;
  letter-spacing: 1.6px;
}

.weather-state-alt {
  font-weight: 100;
  font-size: 18px;
  color: #000;
}

.text-center {
  text-align: center;
}